# Intellij idea
.idea/
.bsp/
*.iml

# vscode with metals
.bloop/
.vscode/
.metals/
metals.sbt

# output folders
target/
dist/

# MacOS
.DS_Store

# Virtual env
.venv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/